@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$lime:#00fdbe;
$purple: #a45e8d;
$pink: #F5A9B8;
$beige-light: #eaeaea;
$purple-dark: #332e33;
$off-black: #111111;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $purple;
$grey-light: $beige-light;
$primary: $lime;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $purple-dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//my shit
$title-color: $off-black;
$input-color: $link;
$primary: $lime;
$text-strong: $grey-light;
$navbar-background-color: $off-black;
$navbar-item-color: $grey-dark;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";